<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Processing</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body>
<form action="/processing" method="post">
    <input type="text" placeholder="input MaTV" name="MaTV">
    <input type="submit" value="submit">
</form>
</body>
</html>