<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Thiết Bị</title>
    <link rel="stylesheet" href="/static/css/style.css"  />
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/thanhvien">Thành Viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/muontra">Mượn - Trả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/thietbi">Thiết bị</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/xuly">Xử lý vi phạm</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Thống kê
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="./thongke/TTSD">Số lượng thành viên vào khu vực học tập</a></li>
                        <li><a class="dropdown-item" href="/admin/thongke/TBDangMuon">Thiết bị được mượn</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

                <div class="w-100 card border-0 p-4">
                    <div class="card-header bg-success bg-gradient ml-0 py-3">
                        <div class="row">
                            <div class="col-12 text-center text-white">
                                <h2>Danh sách thiết bị</h2>
                            </div>
                        </div>

                    </div>
                    <div class="card-body border p-4">
                        <div class="row mb-3">
                            <div class="col-9">
                                <form th:action="@{/admin/thietbi/search}" class="d-flex flex-row gap-1">
                                    <span class=" fw-bold form-control-plaintext" style="width: 100px;">Tìm kiếm: </span>
                                    &nbsp;<input placeholder="Nhập tên thiết bị" type="text" name="keyword" id="keyword" class="form-control border shadow" th:value="${keyword}" required />
                                    <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
                                </form>
                            </div>
                            <div class="col-3 d-flex flex-row gap-2 justify-content-end">
                                <a href="/admin/thietbi/add" class="btn btn-primary">
                                    <i class="bi bi-plus-square"></i> Thêm Thiết Bị
                                </a>
                                <input type="button" class="btn btn-secondary" value="Làm mới" id="btnClear" onclick="clearSearchThietBi()" />
                            </div>
                        </div>

                        <table class="table table-bordered table-striped align-middle text-center">
                            <thead>
                            <tr>
                                <th>Mã Thiết Bị</th>
                                <th>Tên Thiết Bị</th>
                                <th>Mô tả</th>
                                <th>Hành động</th>
                            </tr>
                            </thead>

                            <tr th:each="tb: ${listThietBi}">
                                <td th:text="${tb.maTB}"></td>
                                <td th:text="${tb.tenTB}"></td>
                                <td th:text="${tb.moTa}"></td>
                                <td>
                                    <div class="w-75 btn-group" role="group">

                                        <a class="btn btn-warning mx-2" th:href="@{/admin/thietbi/update/{id}(id=${tb.maTB})}">
                                            <i class="bi bi-pencil-square"></i> Cập nhật
                                        </a>
                                        <a class="btn btn-danger mx-2" th:href="@{/admin/thietbi/delete/{id}(id=${tb.maTB})}">

                                            <i class="bi bi-trash"></i> Xóa
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        </table>
                        <nav aria-label="Page navigation example" style="display: flex; justify-content: center" th:unless="${keyword}">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" th:if="${currentPage > 1}" th:href="${currentPage - 1}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                    <span th:unless="${currentPage > 1}"></span>
                                </li>
                                <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                                    <a th:if="${currentPage != i}" th:href="@{'/admin/thietbi/page/' + ${i}}" class="page-link">[[${i}]]</a>
                                    <a th:unless="${currentPage != i}" class="page-link active">[[${i}]]</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="${currentPage + 1}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                    <span th:unless="${currentPage < totalPages}"></span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

</body>
</html>