<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đặt Chỗ</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body>
<div class="container-fluid" style="width: 400px;">
    <h1>Dat Cho</h1>
    <form action="/datcho" method="post">
    <div class="form-group">
        <label for="tenTV">Ten Thanh Vien</label>
        <input type="text" class="form-control" th:value="${TenTV}" readonly id="tenTV">
        <label for="tenTB">Ten Thiet Bi</label>
        <input type="text" class="form-control" th:value="${TenTB}" readonly id="tenTB">
        <input type="hidden" th:value="${MaTV}" name="MaTV" readonly>
        <input type="hidden" th:value="${MaTB}" name="MaTB" readonly>
        <label for="ngaydat">Ngay Dat</label>
        <input type="datetime-local" id="ngaydat" name="ngaydat" class="form-control">
        <p th:if="${error}" style="color: red">Khong the dat</p>
        <input type="submit" value="submit" class="btn btn-primary">
    </div>
    </form>
</div>

</body>
</html>