<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/static/css/style.css"  />
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid mt-5" style="width: 500px;">
    <form action="/editproflie" method="POST" >
                <div class="row align-items-center">
                    <div class="header-text mb-4 text-center ">
                        <h2>Cập nhật thông tin thành viên</h2>
                    </div>
                    <div class="form-group mb-3">
                        <input readonly type="text" class="form-control form-control-lg bg-light fs-6" th:value="${thanhVien.getMaTV()}" name="maTV" placeholder="Mã Thành Viên">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" th:value="${thanhVien.getTen()}" name="ten" placeholder="Họ và tên">

                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" th:value="${thanhVien.getNganh()}" name="nganh" placeholder="Tên Nghành">

                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" th:value="${thanhVien.getKhoa()}" name="khoa" placeholder="Tên Khoa">

                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" th:value="${thanhVien.getSdt()}" name="sdt" placeholder="SDT">

                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" th:value="${thanhVien.getEmail()}" name="email" placeholder="Địa chỉ email">

                    </div>
                    <div class="form-group mb-3">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" th:value="${thanhVien.getPassword()}" id="password" name="password" placeholder="Mật khẩu">

                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" id="submitBtn" class="btn btn-lg btn-primary w-100 fs-6">Cập nhật</button>
                    </div>
                </div>
            </form>
</div>

</body>
</html>