<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <style>
    .profile-container {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      background-color: #f0f8ff;
    }
    .info-heading {
      font-weight: bold;
      display: inline-block;
      width: 150px;
    }
    .info-value {
      display: inline-block;
    }
    .info-row {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
<div class="container">
  <h1 class="text-center mt-4">Thông tin hồ sơ thành viên</h1>
  <div class="col-12 text-center text-white">
    <a href="/editprofile" class="btn btn-primary">edit profile</a>
  </div>
  <div class="profile-container">
    <h2 class="text-center mb-4">Thông tin thành viên</h2>
    <div class="info-row"><p class="info-heading">Mã thành viên:</p><p class="info-value"><span th:text="${thanhVien.maTV}"></span></p></div>
    <div class="info-row"><p class="info-heading">Tên:</p><p class="info-value"><span th:text="${thanhVien.ten}"></span></p></div>
    <div class="info-row"><p class="info-heading">Khoa:</p><p class="info-value"><span th:text="${thanhVien.khoa}"></span></p></div>
    <div class="info-row"><p class="info-heading">Ngành:</p><p class="info-value"><span th:text="${thanhVien.nganh}"></span></p></div>
    <div class="info-row"><p class="info-heading">Số điện thoại:</p><p class="info-value"><span th:text="${thanhVien.sdt}"></span></p></div>
    <h2 class="text-center mt-4">Danh sách thiết bị</h2>
    <ul>
      <div th:each="i : ${thanhVien.listTTSD}">
          <li th:if="${i.getTrang_thai().equalsIgnoreCase('dang dat cho')}">
            <span th:text="${i.thietBi.tenTB + ': Đang đặt'}"></span>
          </li>
          <li th:if="${i.getTrang_thai().equalsIgnoreCase('dang cho muon')}">
              <span th:text="${i.thietBi.tenTB + ': Đang mượn'}"></span>
          </li>
      </div>
    </ul>
    <h2 class="text-center mt-4">Đã từng vi phạm</h2>
    <ul>
      <div th:each="i : ${thanhVien.listTTXL}">
          <li>
            <span th:text="${i.getHinhThucXl()}"></span>
          </li>
      </div>
    </ul>
  </div>
</div>
</body>
</html>
