<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update password</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body>
<div class="container-fluid mt-5" style="width: 400px;">
    <h1 class="mb-5">Nhập mật khẩu mới</h1>
    <div class="form-group">
        <form action="/updatepassword" method="post">
            <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" name="new_password">
            <br>
            <input type="submit" class="btn btn-primary" value="Lưu">
        </form>
    </div>
</div>
</body>
</html>