<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body>
<div class="w-100 card border-0 p-4" th:if="${MaTV} != -1">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center text-white">
                <h2>Danh sách thiết bị</h2>
            </div>
            <div class="col-12 text-center text-white">
                <a class="btn btn-primary" href="/profile">view profile</a>
            </div>
        </div>
        <div class="row">
            <form th:action="@{/user/search}">
                Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
                &nbsp
                <input type="hidden" th:value="${MaTV}" name="MaTV">
                <input type="submit" value="Search" />
                &nbsp;
                <input type="button" value="Clear" id="btnClear" onclick="clearSearchThietBi()" />
            </form>
        </div>
    </div>
    <table class="table table-bordered table-striped align-middle text-center">
        <thead>
        <tr>
            <th>Tên Thiết Bị</th>
            <th>Mô Tả</th>
            <th>Action</th>
        </tr>
        </thead>

        <tr th:each="tb: ${listTB}">
            <td th:text="${tb.getTenTB()}"></td>
            <td th:text="${tb.getMoTa()}"></td>
            <td><a style="color: red;" th:href="@{/user/datcho/{maTB}/{maTV}(maTB=${tb.getMaTB()}, maTV=${MaTV})}">Đặt Chỗ</a></td>
        </tr>

    </table>
    <nav aria-label="Page navigation example" style="display: flex; justify-content: center" th:unless="${keyword}">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:if="${currentPage > 1}" th:href="${currentPage - 1}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <span th:unless="${currentPage > 1}"></span>
            </li>
            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/user/page/' + ${i}}" class="page-link">[[${i}]]</a>
                <a th:unless="${currentPage != i}" class="page-link active">[[${i}]]</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${currentPage < totalPages}" th:href="${currentPage + 1}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <span th:unless="${currentPage < totalPages}"></span>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>